.main {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.95);
    overflow: hidden;
}

.meImg {
    height: 120px;
    border-radius: 100%;
    margin-bottom: 15px;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.aboutTitle {
    font-size: 35px;
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    color: rgb(255, 145, 0);
}

.aboutTitleName {
    font-size: 35px;
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    color: rgb(24, 24, 24);
    margin-right: 15px;
}

.aboutText {
    font-size: 25px;
    color: rgb(70, 70, 70);
    font-family: Fjalla;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1000px) {

    .aboutText {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 750px) {
    .titleContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .aboutTitle {
        text-align: center;
        font-size: 20px;
        margin: 0;
    }

    .aboutTitleName {
        margin-right: 0;
    }
}

@media (max-width: 550px) {
    .aboutText {
        font-size: 17px;
    }
}