.main {
    width: 70%;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 80px;
}

.meImg {
    height: 200px;
    margin-right: 40px;
    border-radius: 100%;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    flex-direction: row;
}

.aboutTitle {
    font-size: 35px;
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
    color: orange;
}

.aboutTitleName {
    font-size: 35px;
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    margin-right: 15px;
}

.aboutText {
    font-size: 25px;
    color: white;
    font-family: Titillium;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
    border-radius: 10px;
}