.main {
    width: 90%;
    background-color: rgb(245, 245, 245);
    border-top: 2px solid rgb(225, 225, 225);
    margin-top: 50px;
}

.sectionTitle {
    text-align: center;
    font-size: 35px;
    color: rgb(40, 40, 40);
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: rgb(245, 245, 245);
}

.courses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;
}

.courseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding: 10px;
}

.courseName {
    font-size: 33px;
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(40, 40, 40);
}

.courseImage {
    max-width: 300px;
    max-height: 220px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #ffffff;
}