.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding-bottom: 50px;
}

.sectionTitle {
    padding-top: 80px;
    font-size: 35px;
    color: orange;
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    margin-bottom: 60px;
}

.experienceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.experienceTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experienceTitleIcon {
    width: 60px;
    height: 60px;
    fill: orange;
    margin: 0;
}

.experienceTitle {
    font-size: 27px;
    font-weight: bold;
    font-family: Fjalla;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 15px;
}

.experienceText {
    font-size: 20px;
    text-wrap: wrap;
    font-family: Titillium;
    font-weight: bold;
    color: white;
    margin: 20px;
    margin-top: 10px;
    text-align: center;
}

.arrowDown {
    width: 53px;
    height: 53px;
    fill: orange;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}