.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(247, 140, 40);
    padding-top: 30px;
    padding-bottom: 30px;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.link {
    all: unset;
    cursor: pointer;
    font-weight: bold;
    font-size: 23px;
    font-family: Mozilla;
    margin: 0;
    color: rgb(240, 240, 240);
    text-decoration: underline;
}

.link:hover {
    color: rgb(220, 220, 220);
}

.infoTextIcon {
    height: 30px;
    margin-right: 7px;
}

.infoText {
    color: rgb(240, 240, 240);
    font-weight: bold;
    font-size: 23px;
    font-family: Mozilla;
    margin: 0;
}

@media (max-width: 700px) {
    .link {
        font-size: 18px;
    }

    .infoTextIcon {
        height: 25px;
    }

    .infoText {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .main {
        flex-direction: column;
        justify-content: center;
    }

    .infoContainer {
        margin: 5px
    }
}