.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(255, 126, 20);
    padding-top: 30px;
    padding-bottom: 30px;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link {
    all: unset;
    cursor: pointer;
    font-weight: bold;
    font-size: 23px;
    font-family: Mozilla;
    margin: 0;
    color: rgb(220, 220, 220);
    text-decoration: underline;
}

.infoTextIcon {
    height: 30px;
    margin-right: 7px;
}

.infoText {
    color: rgb(220, 220, 220);
    font-weight: bold;
    font-size: 23px;
    font-family: Mozilla;
    margin: 0;
}