@font-face {
  font-family: "Titillium";
  src: url("/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bungee";
  src: url("/fonts/Bungee-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mozilla";
  src: url("/fonts/MozillaHeadline_Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fjalla";
  src: url("/fonts/FjallaOne-Regular.ttf") format("truetype");
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}

#root {
  height: 100%;
  width: 100%;
}