.main {
    width: 90%;
    background-color: rgb(245, 245, 245);
    border-top: 2px solid rgb(225, 225, 225);
    margin-top: 50px;
}

.sectionTitle {
    text-align: center;
    font-size: 35px;
    color: rgb(40, 40, 40);
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: rgb(245, 245, 245);
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding: 10px;
}

.projectName {
    font-size: 33px;
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(40, 40, 40);
}

.projectNameLink {
    all: unset;
    font-size: 33px;
    font-family: Fjalla;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(0, 140, 255);
    cursor: pointer;
    text-decoration: underline;
}

.projectNameLink:hover {
    color: #0082d8;
}

.projectImage {
    width: 300px;
    height: 220px;
    object-fit: fill;
    border-radius: 5px;
}

.projectDescription {
    font-size: 19px;
    text-wrap: wrap;
    font-family: Titillium;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: rgb(50, 50, 50);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.technologiesTitle {
    font-family: Titillium;
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(50, 50, 50);
}

.technologiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.technologyContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    max-width: 280px;
}

.technologyLogo {
    width: 25px;
    border-radius: 3px;
}

.technologyName {
    margin: 0;
    margin-left: 5px;
    font-size: 15px;
    font-family: Titillium;
    font-weight: bold;
    color: rgb(50, 50, 50);
    border-radius: 7px;
}