.main {
    width: 90%;
    background-color: rgb(245, 245, 245);
    border-top: 2px solid rgb(225, 225, 225);
    margin-top: 50px;
}

.sectionTitle {
    text-align: center;
    font-size: 35px;
    color: rgb(40, 40, 40);
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: rgb(245, 245, 245);
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding: 10px;
}

.projectName {
    font-size: 33px;
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(40, 40, 40);
}

.projectNameLink {
    all: unset;
    font-size: 33px;
    font-family: Fjalla;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(0, 140, 255);
    cursor: pointer;
    text-decoration: underline;
}

.projectNameLink:hover {
    color: #0082d8;
}

.projectImagesMain {
    position: relative;
}

.projectMainImage {
    max-width: 300px;
    max-height: 220px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #ffffff;
}

.openImagesButton {
    all: unset;
    position: absolute;
    top: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    padding-right: 8px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

.eyeIcon {
    height: 22px;
    fill: rgb(225, 225, 225);
    margin-right: 5px;
}

.openImagesButtonText {
    color: rgb(225, 225, 225);
    font-size: 17px;
    font-family: Fjalla;
}

.modalMain {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.closeIcon {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    fill: rgb(235, 235, 235);
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    display: flex;
    flex-direction: row;
}

.arrowLeft {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    height: 80px;
    border-radius: 3px;
    fill: white;
    left: 20px;
    cursor: pointer;
    z-index: 2;
}

.projectImageLarge {
    position: relative;
    border-radius: 5px;
    max-width: 98%;
    max-height: 90%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.arrowRight {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    height: 80px;
    border-radius: 3px;
    fill: white;
    right: 20px;
    cursor: pointer;
    z-index: 2;
}

.projectDescription {
    font-size: 19px;
    text-wrap: wrap;
    font-family: Titillium;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: rgb(50, 50, 50);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.technologiesTitle {
    font-family: Titillium;
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(50, 50, 50);
}

.technologiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.technologyContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    max-width: 280px;
}

.technologyLogo {
    width: 25px;
    border-radius: 3px;
}

.technologyName {
    margin: 0;
    margin-left: 5px;
    font-size: 15px;
    font-family: Titillium;
    font-weight: bold;
    color: rgb(50, 50, 50);
    border-radius: 7px;
}