.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.trackWrapper {
    overflow: hidden;
    width: 100%;
}

.track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slide {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    max-height: 900px;

}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0;
    /* remove padding */
    width: 48px;
    /* fixed width */
    height: 48px;
    /* fixed height (equal to width) */
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    /* make circle */
    display: flex;
    /* center the arrow */
    align-items: center;
    justify-content: center;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}