.main {
    width: 90%;
    margin-top: 50px;
    background-color: rgb(245, 245, 245);
}

.sectionTitle {
    text-align: center;
    font-size: 35px;
    color: rgb(40, 40, 40);
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    margin-bottom: 60px;
}

.technologiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.technologyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-width: 280px;
}

.techExperiencePoints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 280px;
}

.circleIcon {
    fill: rgb(210, 210, 210);
    height: 26px;
}

.circleIconColor {
    fill: rgb(41, 219, 41);
    height: 26px;
}

.techNameAndLogoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 280px;
}

.technologyLogo {
    height: 40px;
    border-radius: 3px;
}

.technologyName {
    margin: 0;
    margin-left: 5px;
    font-size: 25px;
    font-family: Titillium;
    font-weight: bold;
    color: rgb(70, 70, 70);
    border-radius: 7px;
}

.experienceTime {
    margin: 0;
    margin-left: 5px;
    font-size: 20px;
    font-family: Titillium;
    font-weight: bold;
    color: rgb(100, 100, 100);
    border-radius: 7px;
}