.main {
    width: 90%;
    margin-top: 50px;
    background-color: rgb(245, 245, 245);
    border-top: 2px solid rgb(225, 225, 225);
}

.sectionTitle {
    text-align: center;
    font-size: 35px;
    color: rgb(40, 40, 40);
    font-family: Fjalla;
    font-weight: bold;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 50px;
}

.technologiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.technologyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    max-width: 280px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
}

.techNameAndLogoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 280px;
}

.technologyLogo {
    height: 40px;
    border-radius: 3px;
}

.technologyName {
    margin: 0;
    margin-left: 5px;
    font-size: 23px;
    font-family: Fjalla;
    color: rgb(70, 70, 70);
    border-radius: 7px;
}

.techExperiencePoints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circleIcon {
    fill: rgb(210, 210, 210);
    height: 26px;
}

.circleIconColor {
    fill: rgb(41, 219, 41);
    height: 26px;
}

.experienceTime {
    margin: 0;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: Titillium;
    color: rgb(70, 70, 70);
}

@media (max-width: 700px) {

    .technologyContainer {
        min-width: 150px;
    }

    .circleIcon {
        height: 18px;
    }

    .circleIconColor {
        height: 18px;
    }

    .techNameAndLogoContainer {
        max-width: 150px;
    }

    .technologyLogo {
        height: 30px;
        border-radius: 3px;
    }

    .technologyName {
        font-size: 19px;
    }

    .experienceTime {
        font-size: 16px;
    }
}

@media (max-width: 450px) {

    .technologyContainer {
        min-width: 120px;
    }

    .circleIcon {
        height: 15px;
    }

    .circleIconColor {
        height: 15px;
    }

    .techNameAndLogoContainer {
        max-width: 120px;
        margin-bottom: 3px;
    }

    .technologyLogo {
        height: 22px;
        border-radius: 3px;
    }

    .technologyName {
        font-size: 16px;
    }

    .experienceTime {
        font-size: 15px;
    }
}